<%- include('../../partials/head.ejs') %>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-body" style="border: 1px solid black;;">
                    <div>
                        <img src="<%= author.profilePics %>" alt="Profile Pic" class="img-thumbnail img-fluid"
                            id="profilePics" width="220" height="320" style="border:1px solid black">
                    </div>
                    <div class="my-4">
                        <h5>Username: <strong>
                            <%= author.username %>
                        </strong></h5>
                        <h5>Name: <strong>
                                <%= author.profile.name %>
                            </strong></h5>
                        <h5>Title: <%= author.profile.title %>
                        </h5>
                        <h5>Bio: <%= author.profile.bio %>
                        </h5>

                        <div>
                            <h5>Social Links: </h5>
                            <% if (author.profile.links.website) { %>
                                <span>
                                    &nbsp;
                                    <a href="<%=  author.profile.links.website%>" target="_blank"
                                        style="text-decoration: none ; "  >  <i   class="fa fa-internet-explorer fa-lg""></i>
                                </a>
                            </span>
                        <% } %>
                        <% if (author.profile.links.facebook) { %>
                            <span>
                                &nbsp;
                                <a href=" <%=author.profile.links.facebook %>" target="_blank"  style="text-decoration: none ; ">
                                            <i class="fa fa-facebook fa-lg"></i>
                                    </a>
                                </span>
                                <% } %>
                                    <% if (author.profile.links.twitter) { %>
                                        <span>
                                            &nbsp;
                                            <a href="<%= author.profile.links.twitter %>" target="_blank"  style="text-decoration: none ; ">
                                                <i class="fa fa-instagram fa-lg""></i>
                                </a>
                            </span>
                        <% } %>
                        <% if (author.profile.links.github) { %>
                            <span>
                                &nbsp;
                                <a href=" <%=author.profile.links.github %>" target="_blank"  style="text-decoration: none ; ">
                                                    <i class="fa fa-github fa-lg""></i>
                                </a>
                            </span>
                        <% } %>
                    </div>
                </div>

                <div>
                    <h5><%= author.profile.name %>'s Posts</h5>
                    <div class=" row">
                                                        <% if (author.profile.posts.length===0||author.profile.name==="InstaPixy User") { %>
                                                            <div class="text-center text-muted">
                                                                <p>There is no posts available right now</p>
                                                            </div>
                                                            <% } else { %>
                                                                <% for (let post of author.profile.posts.reverse()) { %>
                                                                    <div class="card col-sm-5 m-2" style="border: 1px solid black;">
                                                                        <% if (post.thumbnail) { %>
                                                                            <img src="<%= post.thumbnail %>"
                                                                                alt="<%= post.title %>"
                                                                                class="card-img-top mt-3">
                                                                            <% } %>
                                                                                <div class="card-body p-0">
                                                                                    <a style="text-decoration: none ;"
                                                                                        href="/explorer/<%= post._id %>"
                                                                                        style="color: #222;">
                                                                                        <p class="my-2">
                                                                                            <%= post.title %>
                                                                                        </p>
                                                                                    </a>
                                                                                </div>
                                                                    </div>
                                                                    <% } %>
                                                                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>
